{% extends "app/layout.html" %}

{% block content %}

<style>
    .formDiv {
        margin-top: 75px;
width: 1106px;
height: 1037px;
left: 157px;
top: 158px;

background: #FFFFFF;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }

    .formText {
width: 113px;
height: 26px;
left: 261px;
top: 279px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #31456A;
    }

    .formInput {
height: 70px;
margin-bottom: 90px;
background: #F0F4F7;
box-shadow: -5px -3px 12px #FFFFFF, 4px 2px 10px rgba(136, 165, 191, 0.5);
border-radius: 10px;
border: none;
    }

    #getStartedBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
width: 266px;
height: 52px;

background: #FFD200;
border-radius: 85px;
    }

    #pattern1 {
        position: absolute;
left: 0%;
right: 54.4%;
top: 7.69%;
bottom: 74.59%;

opacity: 0.25;
z-index: -5;
    }

    #pattern2 {
        position: absolute;
        top: 653px;
        left: 0px;
        z-index: -2;
    }

    #blueCircleShape {
        position:absolute;
        right: 0px;
        top: 166.89px;
    }

    #yellowCircleShape {
        position: absolute;
        left: 0px;
        top: 1157px;
    }
</style>

<div class="row">
    <div class="col-1">
        {% load static %}
        <img id="pattern1" src="{% static 'app/assets/pattern1.svg' %}" />
        <img id="pattern2" src="{% static 'app/assets/pattern2.svg' %}" />
    </div>
    <div class="formDiv col-10">
        <form style="padding: 80px;">
        <form action="" id = "post-form" method="POST">
        {% csrf_token %}
            <div class="form-group">
                <label class="formText">Revenue</label>
                <input type="number" class="formInput form-control" id="revenue_field" />
            </div>
            <div class="form-group">
                <label class="formText">Date</label>
                <input type="date" class="formInput form-control" id="date_field"/>
            </div>
            <div class="form-group">
                <label class="formText">Staff Hours</label>
                <input type="number" class="formInput form-control" id="hours_field"/>
            </div>
            <div class="form-group">
                <label class="formText">Hourly Salary</label>
                <input type="number" class="formInput form-control" id="salary_field"/>
            </div>
            <div class="form-group">
                <label class="formText">Per Unit Cost</label>
                <input type="number" class="formInput form-control" id="cost_field"/>
            </div>
            <div class="form-group">
                <label class="formText">Units Sold</label>
                <input type="number" class="formInput form-control" id="units_field"/>
            </div>
            <button type="submit" id="getStartedBtn">
                Get Started
            </button>
            </form>
        </form>
    </div>
    <div class="col-1">

    <svg id="blueCircleShape" width="1440" height="1554" viewBox="0 0 1440 1554" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1564.83 76.1784C1603.72 103.297 1599.37 154.794 1626.42 191.519C1651.57 225.659 1709.49 241.883 1715.81 281.143C1722.15 320.46 1685.64 351.242 1656.51 378.353C1630.18 402.851 1595.06 415.317 1558.85 427.202C1518.54 440.438 1478.7 459.943 1434.75 451.156C1387.32 441.672 1338.07 417.023 1314.06 378.26C1290.75 340.601 1312.97 298.42 1314.65 257.197C1316.19 219.183 1307.95 180.825 1323.49 146.493C1342.49 104.518 1363.65 56.1231 1412.04 42.0228C1460.86 27.8005 1521.39 45.8836 1564.83 76.1784Z" stroke="#393A73"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1469.32 91.0217C1501.13 90.224 1528.59 111.567 1554.73 131.243C1581.45 151.355 1607.22 173.352 1621.08 205.261C1636.27 240.236 1646.21 280.418 1635.55 317.313C1624.85 354.373 1592.36 376.428 1564.58 400.931C1535 427.021 1507.42 462.493 1469.32 463.94C1430.88 465.4 1394.16 439.993 1369.09 408.358C1346.74 380.165 1354.05 338.418 1342.17 303.54C1329.53 266.382 1287.46 236.274 1297.55 198.207C1307.58 160.345 1355.25 155.103 1386.73 135.456C1414.04 118.418 1437.83 91.8115 1469.32 91.0217Z" fill="#005DAA"/>
    </svg>
    <svg id="yellowCircleShape" width="178" height="380" viewBox="0 0 178 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M-11.0368 0.0221044C24.1931 -0.790578 54.6123 20.9527 83.5612 40.9979C113.152 61.488 141.69 83.8977 157.041 116.405C173.867 152.037 184.873 192.973 173.075 230.56C161.224 268.315 125.237 290.785 94.4692 315.748C61.7096 342.327 31.1642 378.464 -11.0368 379.939C-53.6154 381.427 -94.2789 355.542 -122.053 323.313C-146.804 294.592 -138.71 252.061 -151.859 216.529C-165.869 178.674 -212.462 148.001 -201.285 109.219C-190.169 70.6467 -137.381 65.3059 -102.509 45.2902C-72.2669 27.9323 -45.9177 0.826737 -11.0368 0.0221044Z" fill="#FFD200"/>
    </svg>
</div>
</div>

{% endblock %}
