{% extends "app/layout.html" %}

{% block content %}

<style>
    .homeTitle {
        position: absolute;
        width: 519px;
        height: 150px;
        left: 165px;
        top: 277px;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;

        color: #005DAA;
    }

    .yellowTitle {
        color: #FFD200;
    }

    .titleText {
        position: absolute;
        width: 518px;
        height: 48px;
        left: 165px;
        top: 427px;
        margin-top: 20px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        color: #005DAA;

    }

    .yellowBtn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px 0px 0px 35px;

        position: absolute;
        width: 161px;
        height: 51px;
        left: 165px;
        top: 502px;
        margin-top: 20px;

        background: #FFD200;
        border-radius: 10px;
        color: #FFFFFF;
    }

    .secondaryHomeTitle {
        
        width: 424px;
        height: 120px;
        height: 120px;
        margin: 0 auto;

        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        text-align: center;

        /* blue */

        color: #005DAA;
    }

    .secondaryHomeText {
        width: 219px;
        height: 55px;

        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;

        color: #393E43;
    }

    #person {
        display: block;
        margin: auto;
    }

    .secondaryHomeDiv {
        margin-top: 163px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secondaryHomeBtn {
        margin-top: 20px;
        color: #ffffff;
padding: 15px 0px 0px 35px;
width: 161px;
height: 51px;
left: 641px;
top: 1121px;

/* yellow */

background: #FFD200;
border-radius: 10px;
    }
</style>

<p class="homeTitle">Forcast your <span class="yellowTitle">business future</span> now</p>
<p class="titleText">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringill</p>
<a class="yellowBtn">Some button</a>

{% load static %}
<img id="person" src="{% static "app/assets/illustration.svg"%}" />

<div class="secondaryHomeDiv">
    <p class="secondaryHomeTitle">Some catchy phrase here <span class="yellowTitle">i</span> guess!</p>
    <p class="secondaryHomeText">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
    <a class="secondaryHomeBtn">Some Button</a>
</div>

<div>

</div>

{% endblock %}
